body{
    background-color: rgb(64, 59, 54);
}

h1,h2,h3,h4, p, a, button, label, input{
    font-family: Ubuntu, sans-serif;
}

::-webkit-input-placeholder {
    font-weight: bold;
}
#mapa{
    height: 25rem;
}

.altura-comuna{
    height: 7rem;
}