body{
    background-color: rgb(64, 59, 54);
}

h1,h2,h3,h4, p, a, button, label, input{
    font-family: Ubuntu, sans-serif;
}

::-webkit-input-placeholder {
    font-weight: bold;
}
#mapa{
    height: 25rem;
}

.altura-comuna{
    height: 7rem;
}

.banner-comuna{
    object-fit: cover;
    object-position: center;
    height: 35vw;
    width: 100%;
}

.banner-card{
    object-fit: cover;
    object-position: center;
    height: 30vw;
    width: 100%;
}