{% extends 'web/base.html' %}
{% load static %}
{% block contenido_body %}

    <div class="row justify-content-center align-items-center mt-4">
        <div class="col-6 text-center">
            <h2 class="text-warning fw-bold">Bienvenido User</h2>
        </div>
        <div class="col-6 text-center">
            <img class="img-fluid rounded-circle w-25 border border-warning" src="{% static 'web/img/avatar.jpg' %}" alt="">
        </div>
        <div class="col-12 text-center">
            <h2 class="text-warning fw-bold mt-5 pt-5">Hola User ¿En que comuna deseas estacionar hoy?</h2>
        </div>
        <div class="col-12 text-center mt-5 pt-5">

          {% for comuna in response %}
          <a href=""><img class="img-fluid altura-comuna rounded-circle w-25 border border-warning me-4" src="{{comuna.imagenComuna}}" alt=""></a>
          {% endfor %}

        </div>
    </div>
    <div class="row ms-0 me-0 mt-5 p-0">
        <div class="col-12 m-0 p-0">
            <div id="mapa" class="container_mapa m-0"></div>
        </div>
    </div>




    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDAiM-uOjAVu38ma8Eq0Wi6cF4LrW4mbGQ&libraries=places&callback=initMap" defer></script>
    <script src="{% static 'web/js/map.js'%}"></script>

{% endblock %}