{% extends 'web/base.html' %}
{% load static %}
{% block contenido_body %}

    <div class="row m-0 p-0 text-center mt-2">
        <div class="col-12">
            <h1 class=" fw-bold text-warning">Estacioname APP</h1>
        </div>
        <div class="col-12">
            <img class="img-fluid" src="{% static 'web/img/logo.png' %}" alt="logo-est">
        </div>
        <div class="col-12">
            <h1 class="text-white fw-bold">Login</h1>
        </div>
    </div>

    <br>
    <br>

    <div class="row justify-content-center align-items-center ms-4 me-4 mt-1">
        <div class="col-md-6">
            <form method="post" action="{% url 'web:login' %}">
                {% csrf_token %}
                <input class="form-control rounded-5" id="id_email" type="email" name="email" maxlength="100" placeholder="email" required>
                <br>
                <input class="form-control rounded-5" id="id_password" type="password" name="password" maxlength="100" placeholder="password" required>
                <br>
                <div class="text-center pt-3">
                    <button type="submit" class="btn btn-warning p-3 rounded-5">Iniciar sesion</button>
                </div>
            </form>
        </div>
    </div>

{% endblock %}
